.jumbotron {
  background: black;
  text-align: center;
  height: 375px;
  font-family: Monaco, 'Courier New', monospace;
}

img {
  height: 225px;
  width: 90%;
  align-items: center;
  margin-top: -40px;
}

#jumbotron-title {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 36px;
  margin-top: 20px;
}

#jumbotron-sub-title {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 18px;
}

.card-header {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 18px;
  text-align: center;
}

#departure-schedule {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 13px;
  text-align: center;
}

.container-for-current-time {
  margin: auto;
  padding-top: 5px;
  margin-bottom: -15px;
  text-align: center;
}

#current-time {
  color: red;
  width: 140px;
  font-family: Monaco, 'Courier New', monospace;
  font-size: 13px;
  margin: auto;
  float: left;
}

#current-time-dom {
  float: right;
  color: red;
  font-family: Monaco, 'Courier New', monospace;
  font-size: 13px;
  width: 70px;
  margin: auto;
  padding-left: 5px;
  text-align: left;
}

#reset {
  background-color: aqua;
  text-align: left;
  font-family: Monaco, 'Courier New', monospace;
  font-size: 1rem;
  width: 140px;
  height: 35px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 12px;
  border-radius: 5px;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

form {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 13px;
  height: 400px;
}

button {
  color: red;
}

#for-prepend {
  text-align: left;
}